<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/products_list.css'%}">
    <title>Document</title>
</head>
<body>
    <h3>Product List</h3>
<table>
    <th>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
      
    </th>
    {% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td><a href="{% url 'product_detail' id=product.id %}">View products</a></td>
       
    </tr>
    {% endfor %}
</table>
</body>
</html>